@import 'tailwindcss';

@theme {
  --color-dark-blue: rgba(14, 26, 64, 1);
  --color-light-blue: rgba(34, 47, 91, 1);
  --color-dark-red: rgba(116, 0, 1, 1);
  --color-light-red: rgba(174, 0, 1, 1);
  --color-dark-green: rgba(26, 71, 42, 1);
  --color-light-green: rgba(42, 98, 61, 1);
  --color-dark-yellow: rgba(236, 185, 57, 1);
  --color-light-yellow: rgba(240, 199, 94, 1);
  --color-dark-grey: rgba(93, 93, 93, 1);
  --color-light-grey: rgba(170, 170, 170, 1);
  --color-lightest-grey: rgba(190, 190, 190, 1);
  --color-dark-brown: rgba(55, 46, 41, 1);
  --color-light-brown: rgba(114, 98, 85, 1);
  --color-golden: rgba(148, 107, 45, 1);
  --color-primary: var(--color-light-blue);
  --color-secondary: var(--color-dark-blue);
  --color-third: var(--color-dark-red);
  --color-spinner: var(--color-dark-red);
  --color-search: var(--color-dark-red);
  --color-hover-primary: var(--color-dark-red);
  --color-hover-secondary: var(--color-dark-green);
  --color-hover-errorButton: var(--color-dark-red);
  --color-hover-third: white;
  --color-text-primary: white;
  --color-text-secondary: var(--color-dark-yellow);
  --color-text-third: var(--color-dark-red);
  --color-text-fourth: var(--color-light-red);
  --color-text-link: var(--color-light-red);
  --color-text-errorButton: var(--color-dark-red);
  --color-text-closeButton: var(--color-dark-red);
  --color-text-fifth: var(--color-dark-green);
  --color-text-hover: white;
  --color-text-hover-secondary: var(--color-dark-red);

  --color-accent: var(--color-dark-red);
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  [data-theme='dark'] {
    --color-primary: var(--color-light-blue);
    --color-secondary: var(--color-dark-blue);
    --color-third: var(--color-dark-red);
    --color-spinner: var(--color-dark-red);
    --color-search: var(--color-dark-red);
    --color-hover-primary: var(--color-dark-red);
    --color-hover-secondary: var(--color-dark-green);
    --color-hover-errorButton: var(--color-dark-red);
    --color-hover-third: white;
    --color-text-primary: white;
    --color-text-secondary: var(--color-dark-yellow);
    --color-text-third: var(--color-dark-red);
    --color-text-fourth: var(--color-light-red);
    --color-text-link: var(--color-light-red);
    --color-text-errorButton: var(--color-dark-red);
    --color-text-closeButton: var(--color-dark-red);
    --color-text-fifth: var(--color-dark-green);
    --color-text-hover: white;
    --color-text-hover-secondary: var(--color-dark-red);

    --color-accent: var(--color-dark-red);
  }

  [data-theme='light'] {
    --color-primary: var(--color-lightest-grey);
    --color-secondary: var(--color-light-grey);
    --color-third: var(--color-light-brown);
    --color-spinner: var(--color-golden);
    --color-search: var(--color-light-brown);
    --color-hover-primary: var(--color-dark-brown);
    --color-hover-secondary: var(--color-golden);
    --color-hover-errorButton: var(--color-light-brown);
    --color-hover-third: white;
    --color-text-primary: var(--color-dark-brown);
    --color-text-secondary: var(--color-golden);
    --color-text-third: var(--color-dark-brown);
    --color-text-fourth: var(--color-dark-brown);
    --color-text-link: var(--color-golden);
    --color-text-errorButton: var(--color-dark-brown);
    --color-text-closeButton: var(--color-dark-brown);
    --color-text-fifth: var(--color-golden);
    --color-text-hover: white;
    --color-text-hover-secondary: var(--color-light-brown);
    --color-accent: var(--color-light-brown);
  }
}

@font-face {
  font-family: 'Potter';
  src: url(assets/fonts/potter_font.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  font-family: Potter;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Normalize*/
